
ErrorDocument 404 ./404.html

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^404/$
RewriteRule ^(.*)$ ./404.html [NC,L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/v1/recipes/([1-2]+)/?$ recipes.php?recipeName=$1 [NC,L]
RewriteRule ^api/v1/recipes/(.*)$ api/v1/recipes.php? [QSA,NC,L]
